
.appWrap{
    background-color: rgb(206, 165, 105);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title{
    color: rgb(109, 75, 2);
    font-size: 36px;

}
#listBody{
    list-style-type: none;
    margin-top: 20px;
    width: 55vh;
    max-width: 700px;
    height: 600px;
    background-color: rgb(228, 222, 193);
    border-radius: 10px;
   
    overflow-y: auto;
    overflow-x: hidden;

}
#taskInput{
    margin-top: 60px;

}

#task{
    padding: 10px;
    width: 30vw;
    border-radius: 2px;
    outline: none;
    border: none;
    background-color: rgb(240, 239, 234);
    margin-right: 5px;
}
#task:focus{
    outline: none;
    /* box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5); Optional glow */
}
#listBtn{
    width: 40vw;
    display: flex;
    margin-top: 30px;
    justify-content: space-evenly;
    
    
}
.btn{
    border-radius: 4px;
    background-color: rgb(190, 100, 70);
    padding: 7px 15px;  
    cursor: pointer;
}
.saveBtn,.loadBtn{
    background-color: rgb(185, 143, 129);
}
.saveBtn:active,.loadBtn:active{
    background-color: rgb(167, 123, 109);
}
.resetBtn:active{
    background-color: rgb(173, 89, 61);
}
.btn:hover{
    transform: scale(1.1);
}
.btn:active{
   transform: translateY(2px)
}
.searchBtn{
    background-color: rgb(70, 102, 190);
    margin-left: 7px;
    color: white;

}
.tasks{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    margin-top: 20px;
    white-space: normal;
    word-wrap: break-word;
    display: flex;
    justify-content: space-between;
}
.icon{
   padding: 0px 7px;
   margin-left: 15px;
   font-size: 14px;
}
.checker{
    transform: scale(2);
}
.taskBtn{
    margin-right: 20px;
    display: flex;
    align-items: center;
}
.done{
    text-decoration: line-through;
}